<section class="section hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-3">
          <h3 class="title is-3 has-text-centered">Registration</h3>

          <form [formGroup]="regForm">
          <div class="field">
            <label class="label subtitle is-6">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input
                id="email"
                formControlName="email"
                class="input"
                type="email"
                placeholder="Email">
              <span class="icon is-small is-left">
                <fa-icon icon="envelope"></fa-icon>
              </span>
            </div>
            <p *ngIf="regForm.controls['email'].invalid && (regForm.controls['email'].dirty) || regForm.controls['email'].touched" class="help is-danger">Invalid email</p>
          </div>

          <div class="field">
            <label class="label subtitle is-6">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input
                class="input"
                id="password"
                formControlName="password"
                type="password"
                placeholder="Password">
              <span class="icon is-small is-left">
                <fa-icon icon="lock"></fa-icon>
              </span>
            </div>
            <!--<p class="help is-danger">Error</p>-->
          </div>

          <div class="field">
            <label class="label subtitle is-6">Repeat password</label>
            <div class="control has-icons-left has-icons-right">
              <input
                id="repPass"
                formControlName="repPass"
                class="input"
                type="password"
                placeholder="Password again">
              <span class="icon is-small is-left">
                <fa-icon icon="lock"></fa-icon>
              </span>
            </div>
            <!--<p class="help is-danger">Error</p>-->
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">terms and conditions</a>
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button
                (click)="createUser($event)"
                class="button is-primary">Sign up</button>
            </div>
            <div class="control">
              <button class="button is-white">Log in</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
